<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password ?</title>
</head>
<body>
    {% block title %}Password Reset confirmation{% endblock %}

    <h3>
        Hi {{ user.first_name }},
    </h3>

    To initiate the password reset process for your account on {{ domain }},
    click the link below:
    <br><br>
    <a href="{{ 'http' }}://{{ domain }}{% url 'resetPassword' uidb64=uid token=token %}">Reset password</a>

    <br><br>
    If clicking the link above doesn't work, please copy and paste the URL in a new browser
    window instead.
</body>
</html>

